<ion-view view-title="Choose Devices" class="bg-dark">
  <ion-content>
    <div class="appliances-cont" ng-if="roomsAndItems">
      <div class="card horizontal" ng-repeat="aRoom in roomsAndItems">
        <div class="card-stacked">
          <div class="row card-content" style="margin-bottom: 0px !important;">
            <div ng-if="aRoom[0].userRoomName || aRoom.userRoomName" ng-class="aRoom[0].userRoomName === undefined && aRoom.userRoomName === undefined ? 'col s9' : ''">
              <p>
                {{ aRoom[0].userRoomName !== undefined ? aRoom[0].userRoomName : aRoom.userRoomName }}
              </p>
            </div>
            <div class="col s3 right-align" ng-if="aRoom[0].userRoomName || aRoom.userRoomName">
              <input ng-if="roomsAsFavorites[aRoom[0].userRoomId] === undefined && roomsAsFavorites[aRoom.userRoomId] === undefined" type="checkbox" name="routineRooms" id="{{ aRoom[0].userRoomName || aRoom.userRoomName }}" value="{{ aRoom[0].userRoomId || aRoom.userRoomId }}" />
              <input ng-if="roomsAsFavorites[aRoom[0].userRoomId] !== undefined || roomsAsFavorites[aRoom.userRoomId] !== undefined" type="checkbox" name="routineRooms" id="{{ aRoom[0].userRoomName || aRoom.userRoomName }}" value="{{ aRoom[0].userRoomId || aRoom.userRoomId }}" checked />
              <label for="{{ aRoom[0].userRoomName || aRoom.userRoomName }}"></label>
            </div>
          </div>
          <div class="card-action" ng-show="aRoom.length !== undefined && aRoom.length > 0">
            <div class="row" ng-repeat="anItem in aRoom">
              <div class="col s9">{{ anItem.userRoomItemName }}</div>
              <div class="col s3 right-align">
                <input ng-if="itemsAsFavorites[anItem.userRoomId + '-' + anItem.userRoomItemId] === undefined" type="checkbox" name="routineItems" id="{{ anItem.userRoomName + '-' + anItem.userRoomItemName }}" value="{{ anItem.userRoomId }}:{{ anItem.userRoomItemId }}" />
                <input ng-if="itemsAsFavorites[anItem.userRoomId + '-' + anItem.userRoomItemId] !== undefined" type="checkbox" name="routineItems" id="{{ anItem.userRoomName + '-' + anItem.userRoomItemName }}" value="{{ anItem.userRoomId }}:{{ anItem.userRoomItemId }}" checked />
                <label for="{{ anItem.userRoomName + '-' + anItem.userRoomItemName }}"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="waves-effect waves-light btn-large btn-block" ng-click="saveToRoutineService()">Choose Timings</a>
   </div>
  </ion-content>
</ion-view>
