<ion-view view-title="Rooms" class="bg-default">
  <ion-content>
    <div class="appliances-cont" ng-if="rooms">
      <div class="card horizontal">
        <div class="card-stacked" style="background-color: #73dfc8;">
          <div class="card-action">
            <div class="row" ng-repeat="room in rooms" ng-click="addRoom('{{ room.id }}', '{{ room.name }}')" style="min-height: 50px; line-height: 50px;">
              <!-- <img ng-src="{{room.icon}}" alt="{{ room.name }}"> -->
              <div class="col">{{ room.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
