<ion-view view-title="Favorites" class="bg-default bcd">
  <!--<ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>-->
  <ion-content>
    <div class="favourites-cont">
    <div class="tile-cont">
    <div class="tile-cont4">
      <div class="tile-item">
      <div class="room-nm">LIVING ROOM</div>
      <div class="block-item">
      <div class="block-item-tv left">
        <a href="#"><i class="icon ion-monitor"></i></a>
        <a href="#"><span>TV</span></a>
        <a href="#"><img src="img/right-arrow.png"></a>
      </div>
      <div class="right">
        <div class="switch">
            <label>
              <!--Off-->
              <input type="checkbox" checked="">
              <span class="lever"></span>
              <!--On-->
            </label>
          </div>
      </div>
      </div>
      <div class="block-item center-align">
            <div class="tv-control">
            <div class="mute"><a href="#"><img src="img/mute.png"></a></div>
            <div class="vol-left">
              <a href="#">
              <i class="icon ion-arrow-left-b"></i>
              </a>
            </div>
            <div class="vol-right">
              <a href="#">
              <i class="icon ion-arrow-right-b"></i>
              </a>
            </div>
            <div class="vol-top">
              <a href="#">
              <i class="icon ion-arrow-up-b"></i>
              </a>
            </div>
            <div class="vol-bottom">
              <a href="#">
              <i class="icon ion-arrow-down-b"></i>
              </a>
            </div>
            </div>
      </div>
    </div>
    <div class="tile-item">
        <div class="room-nm">MASTER BEDROOM</div>
        <div class="block-item">
          <div class="block-item-ac left">
            <a href="#"><i class="material-icons">subtitles</i></a>
            <a href="#"><span>AC</span></a>
            <a href="#"><img src="img/right-arrow.png"></a>
          </div>
          <div class="right">
              <div class="switch">
                  <label>
                    <!--Off-->
                    <input type="checkbox" checked="">
                    <span class="lever"></span>
                    <!--On-->
                  </label>
              </div>
          </div>
        </div>

        <div class="block-item">
            <div class="ac-controls">
              <p class="degr">22&deg;</p>                
                <div class="fan">
                <a href="#" class="waves-effect waves light"><img src="img/ac-fan-low.png" alt=""></a>
                <a href="#" class="waves-effect waves light"><img src="img/ac-fan-medium.png" alt=""></a>
                <a href="#" class="waves-effect waves light"><img src="img/ac-fan-high.png" alt=""></a>
                </div>
                <div class="temperature">
                  <a class="btn waves-effect waves-light"><i class="icon ion-chevron-up"></i></a>
                  <a class="btn waves-effect waves-light"><i class="icon ion-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-item">
        <div class="room-nm">KIDS BEDROOM</div>
        <div class="block-item">
          <div class="block-item-ac left">
            <a href="#"><i class="material-icons">subtitles</i></a>
            <a href="#"><span>AC</span></a>
            <a href="#"><img src="img/right-arrow.png"></a>
          </div>
          <div class="right">
              <div class="switch">
                  <label>
                    <!--Off-->
                    <input type="checkbox" checked="">
                    <span class="lever"></span>
                    <!--On-->
                  </label>
              </div>
          </div>
        </div>
          <div class="block-item">
            <div class="ac-controls">
                <p class="degr">22&deg;</p>                
                <div class="fan">
                  <a href="#" class="waves-effect waves light"><img src="img/ac-fan-low.png" alt=""></a>
                  <a href="#" class="waves-effect waves light"><img src="img/ac-fan-medium.png" alt=""></a>
                  <a href="#" class="waves-effect waves light"><img src="img/ac-fan-high.png" alt=""></a>
                </div>
                <div class="temperature">
                  <a class="btn waves-effect waves-light"><i class="icon ion-chevron-up"></i></a>
                  <a class="btn waves-effect waves-light"><i class="icon ion-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-item">
      <div class="room-nm">Kitchen</div>
        <div class="block-item">
          <i class="ion-ios-lightbulb"></i> <span>Bulb</span>
        </div>
        <div class="block-item">
          <div class="bulb-controls">
          <!-- all item with 1 icon : if you want to keep this then uncomment from this div or comment others div-->
            <div class="bulb-count">
              <div class="bulb-icn">
                <i class="kitchen-img">
                  <img src="img/bulb.png">
                </i>
              </div>
              <div class="bulb-item bi1 active">
                1
              </div>
              <div class="bulb-item bi2" id="bi2">
                2
              </div>
              <div class="bulb-item bi3">
                3
              </div>
              <div class="bulb-item bi4">
                4
              </div>
            </div>
            <!-- 2 item with 1 icon : if you want to keep this then uncomment from this div or comment others div-->
            <!-- <div class="bulb-count">
              <div class="bulb-icn">
                <i class="kitchen-img"><img src="img/bulb.png"></i>
              </div>
              <div class="bulb-item">
                1
              </div>
              <div class="bulb-item active">
                2
              </div>
              <div class="bulb-item" style="visibility: hidden;">
                3
              </div>
              <div class="bulb-item" style="visibility: hidden;">
                4
              </div>
            </div> -->
            <!-- 3 item with 1 icon : if you want to keep this then uncomment from this div or comment others div-->
            <!-- <div class="bulb-count">
              <div class="bulb-icn">
                <i class="kitchen-img"><img src="img/bulb.png"></i>
              </div>
              <div class="bulb-item">
                1
              </div>
              <div class="bulb-item">
                2
              </div>
              <div class="bulb-item active">
                3
              </div>
              <div class="bulb-item" style="visibility: hidden;">
                4
              </div>
            </div> -->

            <!-- all item with 1 icon : if you want to keep this then uncomment from this div or comment others div-->
            <!-- <div class="bulb-count">
              <div class="bulb-icn">
                <i class="kitchen-img"><img src="img/bulb.png"></i>
              </div>
              <div class="bulb-item">
                1
              </div>
              <div class="bulb-item">
                2
              </div>
              <div class="bulb-item">
                3
              </div>
              <div class="bulb-item active">
                4
              </div>
            </div> -->
          </div>
        </div>
    </div>
    </div>
    <div class="tile-item">
      <div class="right">
        <div class="switch">
          <label>
          <!--Off-->
          <input type="checkbox" checked="">
          <span class="lever"></span>
          <!--On-->
          </label>
        </div>
      </div>
      <div class="tile5-icon">
        <i class="tile5-img">
          <img src="img/garage-icn.png">
        </i>
      </div>
      <p class="tile5-head">DRAWING ROOM</p>
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
