<ion-view view-title="{{ clubbedDeviceName }}" cache-view="false" class="bg-dark">
  <ion-content>
    <div class="appliances-cont">
      <div class="card horizontal" ng-if="clubbedDeviceItems">
        <div class="card-stacked">
          <div class="card-action">
            <div class="row" ng-repeat="(index, anItem) in clubbedDeviceItems" ng-if="anItem.device_id">
              <div class="col s9">
                <p><div>{{ anItem.name }}</div></p>
                <p><small>{{ anItem.userRoomName }}</small></p>
              </div>
              <div class="col s3 right-align">
                <div class="switch">
                  <label>
                    <input type="checkbox" ng-model="anItem.status" ng-change="switchClubbedDevice({{ index }});">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
