<ion-view view-title="Clubbed Devices" cache-view="false" class="bg-default">
  <ion-content>
    <div class="home-cont" ng-if="clubbedDevices && showClubbedDevices">
      <div class="tile-cont">
        <div class="tile-cont4">
          <div class="tile-item" ng-repeat="(deviceId, aDevice) in clubbedDevices">
            <div class="tile5-icon">
              <i class="tile5-img" ng-if="item.device_id !== ''">
                <img ng-src="img/power-off.png" alt="{{ aDevice.name }}" ng-if="aDevice.status == '0'" ng-click="switchClubbedDevice({{ aDevice.id }});">
                <img ng-src="img/power-on.png" alt="{{ aDevice.name }}" ng-if="aDevice.status == '1'" ng-click="switchClubbedDevice({{ aDevice.id }});">
              </i>
              <i class="tile5-img" ng-if="item.device_id === ''">
                <img ng-src="{{ item.icon }}" alt="{{ item.name }}" ui-sref="tab.item-detail({ userRoomItemId: {{ item.id }}, userRoomItemName: '{{ item.name }}' })">
              </i>
            </div>
            <p class="tile5-head" ui-sref="tab.clubbed-device-detail({clubbedDeviceId: {{ aDevice.id }}, clubbedDeviceName: '{{ aDevice.name }}' })">{{ aDevice.name }} <i class="ion-chevron-right" style="font-size: 10px;"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row add-room-row" ng-if="clubbedDevices.length <= 0">
      <div class="col col-33 col-offset-33 add-room" ui-sref="tab.add-clubbed-devices"><i class="ion-plus-round"></i>Club Devices</div>
    </div>
  </ion-content>
</ion-view>
