<ion-view view-title="List">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-android-more-vertical" style="color:#33475B;" ng-click="menupopover.show($event)">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" style="background-color:#252525;">
    <ion-list>
      <ion-item ng-if="userRooms" class="item-remove-animate item-avatar item-icon-right" ng-repeat="room in userRooms" type="item-text-wrap" ui-sref="tab.room-items({userRoomId: '{{ room.id }}'})">
        <span>{{ room.name }}</span>
      </ion-item>
    </ion-list>
    <div class="row add-room-row">
      <div class="col col-33 col-offset-33 add-room" ui-sref="tab.add-room">
        <i class="ion-plus-round"></i>
        Add Room
      </div>
    </div>
  </ion-content>
</ion-view>
