<ion-view>
  <ion-content>
    <input type="text" placeholder="Id" ng-model="dimmer.id" />
    <input type="text" placeholder="Value" ng-model="dimmer.value" />
    <input type="button" ng-click="change()" value="Change" />
  </ion-content>
</ion-view>