<ion-view view-title="Favorites" cache-view="false" class="bg-default">
  <ion-content>
    <div class="home-cont" ng-if="favorites && showFavorites">
      <div class="tile-cont">
        <div class="tile-cont4">
          <div class="tile-item" ng-repeat="(index, aFavorite) in favorites" ng-click="showRoomItems({{ aFavorite }});" ng-if="aFavorite.userRoomItemId != '0'">
            <div class="tile5-icon">
              <i class="tile5-img" ng-if="item.device_id !== ''">
                <img ng-src="img/power-off.png" alt="{{ aFavorite.userRoomItemName }}" ng-if="!aFavorite.status" ng-click="aFavorite.deviceId !== '' ? switchDevice({{ index }}) : fillDeviceIdAlert({{ index }})">
                <img ng-src="img/power-on.png" alt="{{ aFavorite.userRoomItemName }}" ng-if="aFavorite.status" ng-click="switchDevice({{ index }});">
              </i>
              <i class="tile5-img" ng-if="item.device_id === ''">
                <img ng-src="{{ item.icon }}" alt="{{ item.name }}" ui-sref="tab.item-detail({ userRoomItemId: {{ item.id }}, userRoomItemName: '{{ item.name }}' })">
              </i>
            </div>
            <p class="tile5-head" ng-show="aFavorite.userRoomItemId != '0'">{{ aFavorite.userRoomItemName }}</p>
            <p class="tile5-head">{{ aFavorite.userRoomName }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row add-room-row" ng-if="favorites.length <= 0">
      <div class="col col-33 col-offset-33 add-room" ui-sref="tab.add-favorite"><i class="ion-plus-round"></i>Add Favorite</div>
    </div>
  </ion-content>
</ion-view>
