<ion-view view-title="Fill Room" class="bg-default">
  <ion-content>
    <div class="appliances-cont" ng-if="items">
      <div class="card horizontal">
        <div class="card-stacked" style="background-color: #73dfc8;">
          <div class="card-action">
            <div class="row" ng-repeat="item in items" ng-if="item.id" ng-click="addItem('{{ item.id }}', '{{ item.name }}')" style="min-height: 50px; line-height: 50px;">
              <!-- <img ng-src="{{item.icon}}" alt=""> -->
              <span>{{ item.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
