<ion-view view-title="Home" cache-view="false" class="bg-default">
  <ion-content>
    <div class="home-cont">
      <div class="tile-cont">
        <div class="tile-cont4">
          <div class="tile-item" ng-repeat="(index, room) in userRooms" ng-if="room.id" on-hold="showActionSheet(index)">
            <a ui-sref="tab.room-detail({userRoomId: '{{ room.id }}', userRoomName: '{{ room.userRoomName }}'})">
              <div class="tile5-icon">
                <i class="tile5-img">
                  <img ng-src="{{room.roomIcon}}" alt="{{ room.userRoomName }}">
                </i>
              </div>
              <p class="tile5-head home-room-name">{{ room.userRoomName }}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="row add-room-row">
        <div class="col col-33 col-offset-33 add-room-item" ui-sref="tab.add-room">
          <i class="ion-plus-round"></i>
          Add Room
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
