<ion-view view-title="{{ item.name }}" cache-view="false">
  <ion-content>
    <span ng-if="uniqueIdError">Please enter the unique id</span>
    <label class="item item-input item-floating-label">
      <span class="input-label">Unique Id</span>
      <input type="text" placeholder="Unique Id" ng-model="item.uniqueId" />
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Switch Number</span>
      <input type="text" placeholder="Switch Number" ng-model="item.switchNumber" />
    </label>
    <!--<div ng-if="isSensor">
      <span class="input-label">No Of Switches</span>
      <div class="row">
        <div class="col s12">
          <input class="with-gap" name="type" type="radio" id="type1" value="1" />
          <label for="type1">8</label>
        </div>
        <div class="col s12">
          <input class="with-gap" name="type" type="radio" id="type2" value="2" />
          <label for="type2">4</label>
        </div>
        <div class="col s12">
          <input class="with-gap" name="type" type="radio" id="type3" value="3" />
          <label for="type3">2</label>
        </div>
        <div class="col s12">
          <input class="with-gap" name="type" type="radio" id="type4" value="4" />
          <label for="type4">1</label>
        </div>
      </div>
    </div>-->
    <input type="button" ng-click="attachDevice()" value="Save" />
    <input type="button" ng-click="switch()" value="ON" />
    <input type="button" ng-click="switch()" value="OFF" />
    <div>
      {{ item.status }}
    </div>
    <label class="item item-input item-floating-label">
      <span class="input-label">Slave Id</span>
      <input type="text" placeholder="Slave Id" ng-model="item.slaveId" />
    </label>
    <div ng-if="item.slaveId !== '' && slaveBound === false">
      <input type="button" ng-click="bindDevice()" value="BIND" />
    </div>
    <label class="item item-input item-floating-label" ng-if="item.slaveId !== '' && slaveBound !== false">
      <span class="input-label">Set Rule</span>
      <input type="text" placeholder="Rule" ng-model="item.rule" />
    </label>
    <input type="button" ng-click="setSensorRule()" value="SET RULE" />
  </ion-content>
</ion-view>
