<ion-view view-title="login" hide-nav-bar="false" >
  <ion-content>
    <div class="login-cont">
      <form>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="icon_username" type="text" ng-model="login.email">
          <label for="icon_username ">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <input id="icon_password" type="password" class="mb5" ng-model="login.password">
          <label for="icon_password">Password</label>
          <!--<small class="right-align"><a href="#/forgot-password">Cannot access your account?</a></small>-->
        </div>
        <div class="center-align mt50">
          <a class="waves-effect waves-light btn btn-dark" ng-click="tryLogin()">Login to my account</a>
        </div>
      </form>
      <p class="center-align">
      Don't have an account? <a href="#/signup">Sign Up</a>
      </p>
    </div>
  </ion-content>
</ion-view>