<ion-view view-title="{{device.itemName}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon-left ion-checkmark done-nav-button" ng-click="saveDevice();">
      Done
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Unique Id</span>
        <input type="text" placeholder="Unique Id" ng-model="device.id" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Device Name</span>
        <input type="text" placeholder="Device Name" ng-model="device.name">
      </label>
    </div>
  </ion-content>
</ion-view>