<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" style="background-color: #FFF !important;">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-icn-only" animation="slide-left-right">

      <ion-tab title="home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Favourites" icon-off="ion-star" icon-on="ion-star" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Fused Devices" icon-off="ion-merge" icon-on="ion-merge" href="#/tab/coupled">
        <ion-nav-view name="tab-coupled"></ion-nav-view>
      </ion-tab>

      <!--<ion-tab title="Routines" icon-off="ion-android-time" icon-on="ion-android-time" href="#/tab/test-routines">
        <ion-nav-view name="tab-routines"></ion-nav-view>
      </ion-tab>-->

    </ion-tabs>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Adora</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home" class="waves-effect waves-dark btn">
          <i class="icon ion-home"></i> Home
        </ion-item>
        <ion-item menu-close href="#/app/favourites" class="waves-effect waves-dark btn">
          <i class="icon ion-star"></i> Favourites
        </ion-item>
        <ion-item menu-close href="#/app/fused" class="waves-effect waves-dark btn">
          <i class="icon ion-merge"></i> Fused Devices
        </ion-item>
        <ion-item menu-close href="#/app/routines" class="waves-effect waves-dark btn">
          <i class="icon ion-clock"></i> Routines
        </ion-item>
        <ion-item menu-close href="#" class="waves-effect waves-dark btn">
          <i class="icon ion-person"></i> About Us
        </ion-item>
        <ion-item menu-close href="#" class="waves-effect waves-dark btn">
          <i class="icon ion-ios-help-outline"></i> Faq
        </ion-item>
        <ion-item menu-close href="#/welcome" class="waves-effect waves-dark btn" ng-click="logout()">
          <i class="icon ion-power"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
