<ion-popover-view>
  <ion-content>
    <div class="list" ng-if="verticalMenuOptions">
      <a class="item" ng-if="verticalMenuOptions.home" ui-sref="tab.add-room">
        Add Room
      </a>
      <a class="item" ng-if="verticalMenuOptions.addRoomItem" ng-click="addRoomItem()" ng-controller="RoomDetailCtrl">
        Add
      </a>
      <a class="item" ng-if="verticalMenuOptions.changeFavorites" ui-sref="tab.add-favorite">
        Add
      </a>
      <a class="item" ng-if="verticalMenuOptions.addFavorites" ui-sref="tab.add-favorite">
        Add
      </a>
      <a class="item" ng-if="verticalMenuOptions.changeClubbedDevices" ui-sref="tab.add-clubbed-devices">
        Add
      </a>
      <a class="item" ng-if="verticalMenuOptions.addClubbedDevices" ui-sref="tab.add-clubbed-devices">
        Add
      </a>
      <a class="item" ng-if="verticalMenuOptions.deleteClubbedDevice" ng-click="deleteClubbedDevice()" ng-controller="ClubbedDeviceDetailCtrl">
        Delete
      </a>
      <a class="item" ng-if="verticalMenuOptions.addRoutine" ui-sref="tab.add-routine">
        Add
      </a>
      <a class="item" ng-if="verticalMenuOptions.deleteUserRoutine" ng-click="deleteUserRoutine()" ng-controller="RoutineDetailCtrl">
        Delete
      </a>
      <a class="item" ui-sref="power-consumption" ng-click="hidePopover()">
        Power Consumption
      </a>
      <a class="item" ng-click="logout();hidePopover()">
        Logout
      </a>
    </div>
  </ion-content>
</ion-popover-view>
