<ion-view view-title="Name Room">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of the room</span>
        <input type="text" placeholder="Name of the room" ng-model="room.name" />
      </label>
    <button class="button button-light" ng-click="saveRoom()">
        Save
      </button>
    </div>
  </ion-content>
</ion-view>