<ion-view view-title="Power Consumption" cache-view="false">
  <ion-nav-bar class="bar-stable" ng-controller="LayoutCtrl">
    <!-- <ion-nav-buttons side="left">
      <button class="button button-icon ion-chevron-left" style="color:#33475B;" ng-click="goBack()">
      </button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-android-more-vertical" style="color:#33475B;" ng-click="menupopover.show($event)">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div>
      <label>Device Id</label>
      <input type="text" name="deviceId" ng-model="form.deviceId" />
    </div>
    <div>
      <label>From Date</label>
      <input type="text" id="from-date" class="datepicker" ng-model="form.fromDate" placeholder="dd/mm/yyyy" />
    </div>
    <div>
      <label for="from-time">From</label>
      <input id="from-time" class="timepicker" type="text" ng-model="form.fromTime" />
    </div>
    <div>
      <label>To Date</label>
      <input type="text" id="to-date" class="datepicker" ng-model="form.toDate" placeholder="dd/mm/yyyy" />
    </div>
    <div>
      <label for="to-time">To</label>
      <input id="to-time" class="timepicker" type="text" ng-model="form.toTime" />
    </div>
    <p>
      <input name="grainSize" type="radio" id="daily" value="DAILY" checked />
      <label for="daily">Daily</label>
    </p>
    <p>
      <input name="grainSize" type="radio" id="weekly" value="WEEKLY" />
      <label for="weekly">Weekly</label>
    </p>
    <p>
      <input name="grainSize" type="radio" id="monthly" value="MONTHLY" />
      <label for="monthly">Monthly</label>
    </p>
    <input type="button" ng-click="checkPowerConsumption()" value="CHECK" />
  </ion-content>
</ion-view>
