<ion-view view-title="Room Items" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in roomItems" type="item-text-wrap">
        <div class="pull-left">
          {{item.name}}
        </div>
        <i class="ion-power pull-right" item-status ng-click="switch({{ 'item.deviceId' }})"></i>
      </ion-item>
    </ion-list>
    <div class="row add-room-row">
      <div ng-if="userRoomId" class="col col-33 col-offset-33 add-room-item" ui-sref="tab.fill-room({userRoomId: {{userRoomId}}})">
        <i class="ion-plus-round"></i>
        Add Item
      </div>
    </div>
  </ion-content>
</ion-view>
