<ion-view view-title="{{ room.name }}" cache-view="false" class="bg-default">
  <ion-content>
    <div class="home-cont" ng-if="roomItems">
      <div class="tile-cont">
        <div class="tile-cont4">
          <div class="tile-item" ng-repeat="(index, item) in roomItems" on-hold="onHold(index)">
            <div class="tile5-icon">
              <i class="tile5-img room-item-img" ng-if="item.device_id !== ''">
                <img ng-src="{{ item.icon }}" alt="{{ item.name }}" ng-if="!item.status" ng-click="switchDevice({{ index }});">
                <img ng-src="{{ item.onIcon }}" alt="{{ item.name }}" ng-if="item.status" ng-click="switchDevice({{ index }});">
              </i>
              <i class="tile5-img room-item-img" ng-if="item.device_id === ''">
                <img ng-src="{{ item.icon }}" alt="{{ item.name }}" ui-sref="tab.item-detail({ userRoomItemId: {{ item.id }}, userRoomItemName: '{{ item.name }}' })">
              </i>
            </div>
            <p class="tile5-head">{{ item.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row add-room-row">
      <div class="col col-33 col-offset-33 add-room-item" ui-sref="tab.fill-room({userRoomId: '{{ room.id }}'})">
        <i class="ion-plus-round"></i>
        Add Item
      </div>
    </div>
  </ion-content>
</ion-view>
