<ion-view view-title="Routines" cache-view="false" class="bg-default">
  <ion-content>
    <div class="home-cont" ng-if="routines && showRoutines">
      <div class="tile-cont">
        <div class="tile-cont4">
          <div class="tile-item" ng-repeat="(index, aRoutine) in routines" on-hold="onHold(index)">
            <div class="block-item" ui-sref="tab.routine-detail({ routineId: {{ aRoutine.id }}, routineName: '{{ aRoutine.name }}' })">
              <div class="room-nm">{{ aRoutine.name }} <i class="ion-chevron-right" style="font-size: 10px;"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row add-room-row" ng-if="routines.length <= 0">
      <div class="col col-33 col-offset-33 add-room" ui-sref="tab.add-routine"><i class="ion-plus-round"></i> Routine</div>
    </div>
  </ion-content>
</ion-view>
