<ion-view view-title="Pick one.." class="bg-default">
  <ion-content>
    <div class="appliances-cont">
      <div class="card horizontal">
        <div class="card-stacked" style="background-color: #73dfc8;">
          <div class="card-action">
            <div class="row" ng-click="showPopup()" style="min-height: 50px; line-height: 50px;">
              <span>Devices to turn on</span>
            </div>
            <div class="row" ng-click="showPopup()" style="min-height: 50px; line-height: 50px;">
              <span>Devices to turn off</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
