<ion-view view-title="{{ item.name }}" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-item ui-sref="tab.turn-on-items.html">
        Switch on these devices
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>