<ion-view view-title="Choose Timings" cache-view="false">
  <ion-content>
    <div class="appliances-cont">
      <div>
        <label>On Time</label>
        <input type="text" placeholder="On Time" ng-model="timings.onTime" id="on-time" ng-readonly="true" />
      </div>
      <div>
        <label>Off Time</label>
        <input type="text" placeholder="Off Time" ng-model="timings.offTime" id="off-time" ng-readonly="true" />
      </div>

      <div ng-model="timings.days" ng-weekday-selector> </div>

      <input type="button" ng-click="showPopup()" value="DONE" />
    </div>
  </ion-content>
</ion-view>
