<ion-view view-title="{{ routine.name }}" cache-view="false">
  <ion-content>
    <div class="appliances-cont">
      <div>
        <div ng-if="routine.onTime !== false">
          <label>On Time</label>
          <h5>{{ routine.onTime }}</h5>
        </div>
        <div ng-if="routine.offTime !== false">
          <label>Off Time</label>
          <h5>{{ routine.offTime }}</h5>
        </div>
        <div ng-model="routine.days" ng-weekday-selector ng-disabled> </div>
      </div>
      <div class="card horizontal" ng-if="userRoomItems.length > 0">
        <div class="card-stacked">
          <div class="card-action">
            <div class="row" ng-repeat="(index, anItem) in userRoomItems" ng-if="anItem.device_id">
              <div class="col s9">{{ anItem.name }}</div>
              <!-- <div class="col s3 right-align">
                <div class="switch">
                  <label>
                    <input type="checkbox" ng-model="anItem.status" ng-change="switchClubbedDevice({{ index }});">
                    <span class="lever"></span>
                  </label>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
