<ion-view view-title="Sign Up" >
  <ion-content>
    <div class="login-cont">
      <form>
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_name" type="text" ng-model="signup.userName">
          <label for="icon_name">Full Name</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" type="text" ng-model="signup.email">
          <label for="icon_email">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <input id="icon_password" type="password" ng-model="signup.password">
          <label for="icon_password">Password</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">loop</i>
          <input id="icon_passwordcfrm" type="password" ng-model="signup.confirmPassword">
          <label for="icon_passwordcfrm">Confirm Password</label>
        </div>
        <div class="center-align mt50">
          <a class="waves-effect waves-light btn btn-dark" ng-click="trySignup()">Submit</a>
        </div>
      </form>
      <p class="center-align">
      Already have an account? <a href="#/login">Login</a>
      </p>
    </div>
  </ion-content>
</ion-view>