<ion-view view-title="Switched On Devices" cache-view="false" class="bg-dark">
  <ion-nav-bar class="bar-stable" ng-controller="LayoutCtrl">
    <!-- <ion-nav-buttons side="left">
      <button class="button button-icon ion-chevron-left" style="color:#33475B;" ng-click="goBack()">
      </button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-android-more-vertical" style="color:#33475B;" ng-click="menupopover.show($event)">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="appliances-cont">
      <div class="card horizontal" ng-if="switchedOnDevices">
        <div class="card-stacked">
          <div class="card-action">
            <div class="row" ng-repeat="(index, aDevice) in switchedOnDevices" ng-if="aDevice">
              <div class="col s9">
                <div class="col">
                  {{ aDevice.name }}
                </div>
                <div class="col room-name">
                  {{ aDevice.roomName }}
                </div>
              </div>
              <div class="col s3 right-align">
                <div class="switch">
                  <label>
                    <input type="checkbox" ng-model="aDevice.status" ng-change="switchDevice({{ index }});">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
  </ion-content>
</ion-view>
