<!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-stable" align-title="left" ng-controller="LayoutCtrl">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-android-bulb nav-ellipsis-button" ui-sref="switched-on-list"></button>
    <button class="button button-icon ion-android-more-vertical nav-ellipsis-button" ng-click="menupopover.show($event)" ng-if="verticalMenuOptions"></button>
  </ion-nav-buttons>
</ion-nav-bar>


<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-icn-only">

  <ion-tab title="home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home" ui-sref="tab.home" ng-click="goTo('home')">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favourites" icon-off="ion-star" icon-on="ion-star" href="#/tab/favorites" ui-sref="tab.favorites" ng-click="goTo('favorites')">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Clubbed Devices" icon-off="ion-merge" icon-on="ion-merge" href="#/tab/clubbed-devices" ui-sref="tab.clubbed-devices" ng-click="goTo('clubbed-devices')">
    <ion-nav-view name="tab-clubbed"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Routines" icon-off="ion-android-time" icon-on="ion-android-time" href="#/tab/routines" ui-sref="tab.routines" ng-click="goTo('routines')">
    <ion-nav-view name="tab-routines"></ion-nav-view>
  </ion-tab>


</ion-tabs>
