<ion-view view-title="Timer" class="bg-default">
  <ion-content>
    <div class="timer-cont">
      <div class="center-align">
        <h1 class="mb50">Hall Fan 1</h1>
        <img src="img/clock-icn.png" alt="">
        <div class="row mt50">
          <div class="input-field col s12">
            <label for="input-time">Time</label>
            <input id="input-time" class="timepicker" type="text">
          </div>
        </div>
        <a class="waves-effect waves-dark btn btn-dark btn-large">Done</a>
      </div>
    </div>
  </ion-content>
</ion-view>