<ion-view view-title="welcome" hide-nav-bar="true" class="background">
  <ion-content>
    <div class="welcome-cont center-align">
      <div class="logo">
        <img src="img/logo.png" alt="adora"> Adora
      </div>
      <h1>Welcome to Adora!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet interdum odio, eu venenatis risus feugiat ac. </p>

      <div class="auth-links">
        <a class="waves-effect waves-dark btn" href="#/login"><i class="material-icons left">input</i>Login</a>
        <a class="waves-effect waves-dark btn" href="#/signup"><i class="material-icons left">mode_edit</i>Sign Up</a>
      </div>
    </div>
  </ion-content>
</ion-view>
