.fan a,
.fan a:hover,
.fan a {
  padding: 5px;
  margin: 10px 0px;
}
.tile-item {
  border-radius: 15px;
  border: solid 2px #62a198;
}
.bg-default {
  background: #62a198 !important;
}
.tabs-striped.tabs-background-positive .tabs {
  background: #62a198 !important;
  box-shadow: none;
}
.tabs-top.tabs-striped i {
  color: #32475a;
}
.tabs-striped .tab-item.tab-item-active,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.activated {
  background: #62a198 !important;
}
.tabs-top.tabs-striped .tab-item.tab-item-active i {
  color: #fff;
}
.block-item-ac,
.block-item-tv {
  border: 1px solid #fff;
  border-radius: 5px;
}
.block-item-ac i,
.block-item-tv i {
  margin-left: 3px;
}
.block-item-ac img,
.block-item-tv img {
  height: 12px;
  margin: 0 5px;
}
.ac-controls .fan {
  margin: 15px 0 0 0;
}
.block-item span,
.block-item img {
  vertical-align: middle;
}
.room-nm {
  font-size: 14px;
}
.tv-control {
  margin: 55px auto 0 auto;
}
.mute {
  background: rgba(32, 108, 104, 0.36);
}
.switch label .lever {
  margin: 0 5px;
}
.bulb-item {
  margin: 5px 0;
}
.ac-controls p {
  color: #fff;
  font-size: 44px;
  margin: 70px 0 0 0;
  text-align: center;
}
.ac-controls .temperature {
  margin: 5px 0 0 0;
}
.waves-effect img {
  height: 25px;
}
.bulb-item {
  width: 60px;
  height: 60px;
  margin: 4px 2px;
}
.kitchen-img img {
  height: 80px;
}
.tile-cont4 {
  bottom: 0 !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
}
body {
  overflow: hidden !important;
}
.bcd {
  overflow: hidden;
}
.ac-controls .temperature a.btn {
  height: 30px;
  width: 30px;
  line-height: 28px;
}
.tile5-icon {
  margin-top: 45%;
}
.tile5-icon.room-item-img {
  margin-top: 30%;
}
.tile5-img img {
  height: 60px;
  margin: 0 auto;
  display: block;
}
.tile5-img.room-item-img img {
  height: 100px;
}
.tile5-head {
  line-height: 30px;
  margin: 10px 0 0 0;
  font-family: "geomanist-regular";
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
/*iphone 5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .ac-controls p {
    font-size: 32px;
    margin: 50px 0 0 0;
  }
  .ac-controls .fan,
  .ac-controls .temperature {
    margin: 0px 0 0 0;
  }
  .fan a,
  .fan a:hover,
  .fan a {
    margin: 12px 0;
  }
  .waves-effect img {
    height: 20px;
  }
  .block-item i {
    font-size: 24px;
    margin: 0 3px;
  }
  .tv-control {
    width: 100px;
    height: 100px;
    margin: 50px auto;
  }
  .mute {
    width: 45px;
    height: 45px;
    margin: 22px auto;
  }
  .tv-control .vol-left {
    left: 5px;
    top: 36px;
  }
  .tv-control .vol-right {
    right: 5px;
    top: 36px;
  }
  .tv-control .vol-top {
    left: 40px;
    top: 0px;
  }
  .tv-control .vol-bottom {
    left: 40px;
    bottom: 0;
  }
  .bulb-item {
    width: 55px;
    height: 50px;
    margin: 0 3px 6px 0;
    font-size: 20px;
    line-height: 45px;
  }
  .kitchen-img img {
    height: 65px;
  }
}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .tv-control {
    margin: 85px auto 0 auto;
  }
  .ac-controls p {
    margin: 90px 0 0 0;
  }
  .ac-controls .fan {
    margin: 30px 0 0 0;
  }
  .ac-controls .temperature {
    margin: 15px 0 0 0;
  }
  .bulb-item {
    width: 70px;
    height: 70px;
    margin: 5px 4px;
  }
  .block-item {
    margin-bottom: 30px;
  }
  /*if up down black arrow require big*/
  /*	.ac-controls .temperature a.btn {
    height: 40px;
    width: 40px;
    line-height: 40px;
	}*/
}
