@font-face {
  font-family: Raleway-SemiBold;
  src: url('../lib/ionic/fonts/Raleway-SemiBold.eot');
  src: url('../lib/ionic/fonts/Raleway-SemiBold.eot?') format('eot'),
  url('../lib/ionic/fonts/Raleway-SemiBold.woff') format('woff'),
  url('../lib/ionic/fonts/Raleway-SemiBold.ttf')  format('truetype'),
  url('../lib/ionic/fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
}
/*body {
  font-family: "Raleway-Semibold";
}*/
.bar.bar-stable {
  background-color: #1ABC9C;
  border-bottom: 1px solid #33475B;
}
.bar.bar-stable .title {
  color: #33475B;
}
.tab-nav {
  background-color: #1ABC9C !important;
  border-top: 1px solid #33475B !important;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #33475B !important;
  border-top: none !important;
}
ion-tabs.tabs-color-active-positive .tab-item {
  color: #FFF;
}
.add-room, add-room-item {
  border: 2px dotted #ccc;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.done-nav-button {
  font-family: "Raleway-Semibold";
}
.green {
  color: green;
}
.red {
  color: red;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
